* {
    background-color: dodgerblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:ghostwhite;
    text-align: center;
}

.keyContainer {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}

.keyContainer div {
    padding: 40px;
}

.drums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 40px;
}

.drums div {
  
}

/* .drums div:hover img {
    animation: scale 500ms;
}

@keyframes scale {
    to {
        transform: scale(1.2);
    }
} */

